.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px rgb(247, 135, 232);
}

.note
{
    font-size:15px;
    color:rgb(255, 175, 242);
}

.copy_right_footer {
    position: fixed;
    color:rgb(252, 48, 225);
    bottom: 0;
    width: 100%;
    background-color:rgb(255, 164, 240);
    line-height: 3;
    text-align: center;
}

canvas{
    border:5px solid rgb(236, 65, 199);
    border-radius:20px;
    box-shadow:5px 5px 5px rgb(253, 151, 245);
}